@use '../utils/variables'as vars;

.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   background-color: vars.$prussian-blue;
   height: 4.5rem;
   padding: 0 2rem;

   .menu_container {
      position: relative;
      .alert_menu{
         position: absolute;
         bottom: .9rem;
         right: -7rem;
         display: flex;
         align-items: center;
         animation: alert_menu_animation ease-in-out 1s 1;
         span{
            color: vars.$light;
            font-weight: vars.$bold;
         }
      }
      .icon_button {
         width: 3.5rem;
         padding: 0;
         border: none;
         background-color: transparent;
         cursor: pointer;

         &:active {
            transform: scale(0.9);
         }
      }
   }

   .cv_link {
      display: block;
      padding: .5rem;
      border-radius: .5rem;
      font-weight: vars.$bold;
      color: vars.$prussian-blue;
      background-color: vars.$iceberg;

      &:hover {
         animation: cv_animation ease-in-out .3s  forwards;
      }
   }
}

.links {
   position: absolute;
   top: 100%;
   left: 0;
   width: 0;
   height: 0;
   padding: 1rem 0;
   text-align: center;
   overflow: hidden;
   opacity: 0;
   transition: all .3s ease-in-out;
   background: vars.$prussian-blue url('/images/wave_menu.svg') bottom/cover no-repeat;

   a {
      display: block;
      width: 100%;
      padding: 2rem 0;
      font-weight: vars.$bold;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: vars.$iceberg;
      transition: all .2s ease-in-out;

      &:hover {
         background: vars.$iceberg;
         color: vars.$prussian-blue;
      }
   }

}

.show_menu {
   width: 100%;
   height: 100vh;
   overflow: visible;
   opacity: 1;
}




@keyframes cv_animation {
   0% {
      transform: rotate(0);
   }

   25% {
      transform: rotate(20deg);
   }

   50% {
      transform: rotate(0);
   }

   75% {
      transform: rotate(-20deg);
   }

   100% {
      transform: rotate(0);
   }
}

@keyframes alert_menu_animation{
   from{
      right: -7rem;
   }
   to{
      right: -5rem;
   }
}