@use '../utils/variables' as vars;
@use '../utils/mixins' as mixins;


.project{
  padding: 2rem 0;
  text-align:center;
  color: vars.$light;

  p{
    font-weight: vars.$bold;
    font-size: 1.2rem;
    span{
      font-weight: vars.$regular;
    }
  }
  
  &_top{
    @include mixins.tablet{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
    }

    .project_name{
      margin-top:1.5rem;
    }
  }

  &_img{
    margin: auto;
    max-width: 31.25rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 .1rem .4rem vars.$iceberg;
  }

  .project_techs{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem auto;

    figure{
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      overflow: hidden;
    }
  }



  &_bottom{
    margin-top: 2rem;

    .project_tags{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      
      li{
        min-width: 10rem;
        padding: .5rem;
        border-radius: .3rem;
        color: vars.$prussian-blue;
        font-weight: vars.$bold;
        background-color: vars.$iceberg;
        box-shadow: 0 .3rem .2rem vars.$dark;
        transition:transform .3s ease-in-out;
        &:hover{
          transform:scale(1.1);
        }
      }
    }

    .project_description{
      margin: 2rem 0;
    }
    .project_links{
      display: flex;
      flex-wrap: wrap;
      gap:1rem;
      width: 80%;
      justify-content: space-evenly;
      margin: 0 auto;
      a{
        padding: .5rem;
        font-weight: vars.$bold;
        text-transform: uppercase;
        border-radius: .5rem;
        background-color: vars.$dark;
        transition:filter .3s ease-in-out;

        &:hover{
          filter: invert(1);
        }
      }
    }
  }
}